* {
    box-sizing: border-box;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem;
    background-color: black;
    opacity: 0.9;
    color: white;
    text-align: center;
    line-height: 1;
}

h3 {
    text-align: center;
}

legend {
    font-size: 1rem;
}

.bold-it {
    font-weight: bold;
}

.border-me-above {
    margin-top: 1em;
    border-top: 1px solid darkgray;
}

.center-it {
    text-align: center;
}

.comp-higher {
    color: chartreuse ;
}

.comp-lower {
    color: crimson;
}

.comp-equal {
    color: white;
}

.data-indent {
    margin-left: 5px;
    text-indent: -5px;
}

.fa .fa-arrows-v {
    font-size: 24px;
}

.fa .fa-map-marker {
    font-size: 24px;
}

.geolocate-btn {
    background-color: rgb(0, 56, 224);
    color: white;
}

.left-align {
    text-align: left;
}

.lgnd-bit-container {
    font-size: 0;
}

.lgnd-bit {
    font-size: 1rem;
    display: inline-block;
    position: relative;
}

.location-entry {
    width: 70%
}

.map_canvas {
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: rgb(0, 56, 224);
    color: white;
}

.options-container {
    display: none;
    background-color: black;
    opacity: 0.9;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 0;
}

.options-panel {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: .9rem;
}

.parent-container {
    display: flex;
    padding-top: 10px;
}

.radio-options {
    display: block;
    text-align: left;
    margin-left: 30px;
}

.results {
    position: relative;
    background-color: black;
    opacity: 0.8;
    color: white;
    border-radius: 10px;
}

.results-container {
    position: absolute;
    width: 100%;
    bottom: 2.5em;
}

.results-inner {
    font-size: 0;
    font-size: 1rem;
    text-align: center;
}

.results-panel {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-box {
    text-align: center;
    background-color: black;
    opacity: 0.8;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.secondary-btns {
    margin-top: 10px;
}


.small-text {
    font-size: .75em;
}

.submit-btn {
    width: 20%;
}

.tiny-logo {
    position: relative;
    bottom: 2px;
    height: 20px;
    padding: 3px;
}

.swatch-circle {
    background-color:blue;  
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.swatch-short {
    background-color: #405d27;
}

.swatch-medium {
    background-color: #e9a3c9;
}

.swatch-long {
    background-color: #af8dc3;
}

.swatch {
    height: 1rem;
    width: 1rem;
    border: 1px solid white;
    display: inline-block;
    margin-left: 10px;
}

.v-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}