* {
    box-sizing: border-box;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem;
    background-color: black;
    opacity: 0.9;
    color: white;
    text-align: center;
    line-height: 1;
}

h3 {
    text-align: center;
}

legend {
    font-size: 1em;
    font-weight: bold;
}

.bold-it {
    font-weight: bold;
}

.center-it {
    text-align: center;
}

.comp-higher {
    color: chartreuse ;
}

.comp-lower {
    color: crimson;
}

.comp-equal {
    color: white;
}

.data-indent {
    margin-left: 20px;
    text-indent: -20px;
}

.fa .fa-arrows-v {
    font-size: 24px;
}

.fa .fa-map-marker {
    font-size: 24px;
}

.geolocate-btn {
    background-color: rgb(0, 56, 224);
    color: white;
}

.left-align {
    text-align: left;
}

.map_canvas {
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.options-container {
    display: none;
    background-color: black;
    opacity: 0.9;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.options-panel {
    display: inline-block;
    vertical-align: top;
}

.parent-container {
    display: flex;
    padding-top: 10px;
}

.radio-options {
    display: block;
    text-align: left;
    margin-left: 70px;
}

.results {
    background-color: black;
    opacity: 0.9;
    color: white;
    border-radius: 10px;
}

.results-container {
    position: absolute;
    display: none;
    right: 0;
    bottom: 2em;
    left: 0;
    padding: .5rem;
    text-align: center;
}

.results-inner {
    text-align: left;
    font-size: 0;
    font-size: 1rem;
    text-align: center;
    width: 100%
}

.results-outer {
    text-align: left;
    font-size: 1rem;
}

.results-panel {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 31%;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-box {
    text-align: center;
    background-color: black;
    opacity: 0.9;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.secondary-btns {
    margin-top: 10px;
}

.small-text {
    font-size: .75em;
}

.tiny-logo {
    position: relative;
    bottom: 2px;
    height: 20px;
    padding: 3px;
}

.short-cube {
    height: 1rem;
    width: 5%;
    border: 1px solid white;
    background-color: #405d27;
    display: inline-block;
    margin-left: 15px;
}

.medium-cube {
    height: 1rem;
    width: 5%;
    border: 1px solid white;
    background-color: #e9a3c9;
    display: inline-block;
    margin-left: 15px;
}

.blue-circle:before {
    content: ' \25CF';
    color: blue;
    font-size: 35px;
    display: inline-block;
    margin-left: 15px;
}

.long-cube {
    height: 1rem;
    width: 5%;
    border: 1px solid white;
    background-color: #af8dc3;
    display: inline-block;
    margin-left: 15px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: rgb(0, 56, 224);
    color: white;
}

.v-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}